name: raffle_companion
description: Manage your raffles, the easy way.

publish_to: 'none'

version: 1.4.0+5

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  bloc_concurrency: ^0.2.5
  easy_localization: ^3.0.7
  fluent_ui: ^4.9.2
  flutter_bloc: ^8.1.6
  json_annotation: ^4.9.0
  package_info_plus: ^8.1.0
  path: ^1.9.0
  path_provider: ^2.1.4
  sprintf: ^7.0.0
  url_launcher: ^6.3.1
  window_manager: ^0.4.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.13
  json_serializable: ^6.8.0
  flutter_lints: ^5.0.0
  msix: ^3.16.8

flutter:
  uses-material-design: true
  assets:
    - assets/l10n/

msix_config:
  display_name: Raffle Companion
  msix_version: 1.4.0.0
  logo_path: media/icon.png

scripts:
  build_runner: dart run build_runner build --delete-conflicting-outputs
  l10n: dart run easy_localization:generate -S assets/l10n -f keys -O lib/l10n -o locale_keys.g.dart
  windows_debug:
    - flutter clean
    - dart run scripts/prepare_build.dart
    - dart run msix:create
  windows_release:
    - flutter clean
    - dart run scripts/prepare_build.dart
    - dart run msix:create --store true --publisher-display-name Boehrsi --identity-name 9767Boehrsi.RaffleCompanion --publisher CN=B9F51070-DC4D-42E5-B210-A4B163D75379
